body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    max-width: 100%;
    width: 100%;
    background-color: lightgray;
    border-bottom: solid;
    border-bottom-color: #7d97ad;
}

.full {
    width: 100%;

}
.row-header {
    width: 100%;
    border-bottom: solid;
    border-bottom-color: #7d97ad;
    display: flex;
    background-color: red;
  background-image:
    linear-gradient(
      to right,
      #18C2BD,
      #56A5C3 34%
    );
    border-bottom: solid;
    border-bottom-color: #7d97ad;
}
.navbar navbar-light bg-faded {
    background-color: lightgray;
}
.col-6 {
    width: 50%;
}

.col-6-right {
    width: 50%;
    text-align: right;
    font-family: sans-serif;
    text-align: center;
    font-size: 75%;
}

.carousel-inner img {
      min-width: 99%; /* Set width to 100% */
      margin: 0;
      min-height:200px;

  }

img {
    max-width: 100%;
    width:100%;
    max-height: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid black;
}

.header-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


h2 {
    margin-left: 35px;
}

.section-projects {
    max-width: 100%;
    text-align: center;
    width:100%;
}

.col-md-4 portfolio-item {
    width: 33.33%;
    width: 100%;
    height:100%;

}

.row-footer {
    margin-top: 10px;
    width: 100%;
}

.col-6-right-footer {
      float: right ;
}

@media (min-width:550px) {

img {
    max-width: 100%;
    margin: auto;
    width: 100%;
    height: 100%;

}

.section-projects {
    padding-left: 50px;
    width: 100%;
    max-width: 100%;
    display: flex;
    margin:5px
}

.col-4-projects {
    width: 33.33%;
    margin-right:15px;
    height: 100%;
    }

.col-6-right {
    width: 50%;
    text-align: right;
    font-family: PT Sans;
    text-align: center;
    font-size: 100%;

@media (min-width:1150px) {

img {
    max-width: 100%;
    margin: auto;
}

.col-6-right {
    width: 50%;
    text-align: right;
    font-family: PT Sans;
    text-align: center;
    font-size: 100%;

}
