body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    background-color: #FDFDFD;
    border-bottom: solid;
    border-bottom-color: #7d97ad;
    font-family: PT Sans;

}

.row-header {
    width: 100%;
    background-image: linear-gradient( to right, cyan, #BFEFFF 34%);
    border-bottom: solid;
    border-bottom-color: #7d97ad;
    display: flex;
    font-family: PT Sans;
}
/* header */
header .header-top{
	padding: 0px 5px
}

/* header-menu */
header .header-menu{}
header .header-menu .menu-area{}
header.header-menu .menu-area nav.menu{}
header .header-menu .menu-area nav.menu{}
header .header-menu .menu-area nav.menu ul.menu-item{
	list-style: none;
	padding: 5px;
}
header .header-menu .menu-area nav.menu ul.menu-item li.menu-list{
	display: inline-block;
	position:relative
}
header .header-menu .menu-area nav.menu ul.menu-item li.menu-list a.item-list{
	font-size:16px;
	padding-right:35px;
	font-weight: 700;
	text-transform: uppercase;
	color: #444;
	display: inline-block
}
header .header-menu .menu-area nav.menu ul.menu-item li.menu-list a.item-list:hover{
	color:#ec4445;
	text-decoration: none
}

header .header-menu .menu-area nav.menu ul.menu-item li.menu-list ul{
	list-style: none;
	position: absolute;
	left: 0;
	top:30px;
	right: 0;
	width:200px;
	content:"";
	padding: 0px 20px;
	background:#fff;
	box-shadow: 0px 1px 2px rgba(0,0,0,.3);
	opacity: 0;
	transform: scaleY(0);
	transform-origin: 0 0 0;
	transition: all ease .4s;
	z-index: 9999;

}
header .header-menu .menu-area nav.menu ul.menu-item li.menu-list ul li{

}
header .header-menu .menu-area nav.menu ul.menu-item li.menu-list ul li a{
	font-size:15px;
	font-family: PT Sans;
	background: ;
	display: inline-block;
	padding: 10px 0;
	color:#999;
	transition: all ease .4s;
}

header .header-menu .menu-area nav.menu ul.menu-item li.menu-list ul li a:hover{
	margin-left: 8px;
	transition: all ease .4s;
	text-decoration: none
}

header .header-menu .menu-area nav.menu ul.menu-item li.menu-list:hover ul{
	 opacity: 1;
	transform: scaleY(1);
	transition: all ease .4s
}

header .header-menu .menu-area nav.menu ul.menu-item li.menu-list .mega-menu{
	position: absolute;
	left:0;
	top:30px;
	width:450px;
	padding:0px 20px 12px 20px;
	background:#fff;
	box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	opacity: 0;
	transform-origin: 0 0 0;
	transform: scaleY(0);
	transition: all ease .4s;
	z-index: 9999;
}
header .header-menu .menu-area nav.menu ul.menu-item li.menu-list .mega-menu span{
	float:left;
	width: 50%;

}
header .header-menu .menu-area nav.menu ul.menu-item li.menu-list .mega-menu span a{
	display: block;
	font-family: PT Sans;
	font-weight: 400;
	font-size:15px;
	color:#999;
	padding: 10px 0px;
	transition:all ease .4s;
}
header .header-menu .menu-area nav.menu ul.menu-item li.menu-list .mega-menu span .mega-menu-heading{
	color:#000;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase
}

header .header-menu .menu-area nav.menu ul.menu-item li.menu-list:hover .mega-menu{
	opacity: 1;
	transform: scaleY(1);
	transition: all ease .4s
}

header .header-menu .menu-area nav.menu ul.menu-item li.menu-list .mega-menu span a:hover{
	margin-left:10px;
	color:#ec4445;
	transition:all ease .4s;
	text-decoration: none
}

.mean-container .mean-nav ul li a.mean-expand {
  padding: 8px !important;

}

.carousel-inner img {
    width: 100%;
    /* Set width to 100% */
    margin: auto;
    min-height: 200px;
}
img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
}
.header-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.row-main-image {
    width: 100%;
    margin: 0px 0 20px 0;
    max-width: 33%;
    min-width: 100%;
}
h2 {
    margin-left: 35px;
}
.section-projects {
    max-width: 100%;
    text-align: center;
    width: 100%;
}
.col-4-projects {
    width: 33.33%;
    width: 100%;
    border-radius: 4px;
    border: 1px solid gray;
    background-color: #F2F8FA;

}
}
.col-4-projects img {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.col-4-projects img:hover {
    opacity: .8;
}

.row-skills {
    width: 100%;
    background-color: #F2F8FA;
    border-bottom: solid;
    display: flex;
    border-radius: 4px;
    border: 1px solid gray;
}
.col-6-skills {
    width: 50%;
    margin-right: 15px;
    margin-left: 5px;
}
.col-6-right-skills {
    width: 50%;
    text-align: right;
    text-align: center;
    font-size: 75%;
    margin-right: 10px;
}

.row-footer {
    text-align: center;
    margin-top: 10px;
    width: 99%;
    border-radius: 4px;
    border: 1px solid gray;
    background-color: #F2F8FA;


}
.col-6-right-footer {
    float: right;
}

@media (min-width: 550px) {
    img {
        max-width: 100%;
        margin: auto;
        width: 100%;
        height: 100%;
    }
    .section-projects {
        padding-left: 50px;
        width: 100%;
        max-width: 100%;
        height: auto;
        display: flex;
        margin: 5px
    }
    .col-4-projects {
        width: 33.33%;
        margin-right: 15px;
        height: 100%;
    }
    .col-6-right {
        width: 50%;
        text-align: right;
        font-family: PT Sans;
        text-align: center;
        font-size: 100%;
        @media (min-width: 1150px) {
            img {
                max-width: 100%;
                margin: auto;
            }
            .col-6-right {
                width: 50%;
                text-align: right;
                font-family: PT Sans;
                text-align: center;
                font-size: 100%;
            }
